#hobby{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: url("../images/hobby-bg.svg");
}
.hobbyTextContainer{
    height: 15%;
}
.hobbyBodyContainer{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hobbyDrawing{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hobbyPhotography{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.instagram{
    width: 50px !important;
    opacity: 0.8;
}
.instagram:hover{
    opacity: 1;
}
.drop1,.drop2{
    position: relative;
    width: 350px;
    height: 350px;
    background-color: rgb(30 165 255 / 37%);
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(249, 254, 255, 0.793);
    border-radius: 39% 61% 70% 30% / 30% 57% 43% 70% ;
    animation: dropMove 3s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes dropMove {
    0%,100%{
        border-radius: 30% 70% 34% 66% / 60% 37% 63% 40%   ;
    }
    25%{
        border-radius: 57% 43% 34% 66% / 60% 37% 63% 40%   ;
    } 
    50%{
        border-radius: 57% 43% 34% 66% / 60% 60% 40% 40%   ;
    } 
    75%{
        border-radius: 57% 43% 61% 39% / 60% 60% 40% 40%   ;
    }   
}
.drop1::before,.drop2::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    animation: dropShine1 2.5s linear infinite;
    z-index: 1;
}
.drop1::after,.drop2::after{
    content: '';
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    animation: dropShine2 2.5s linear infinite;
    z-index: 1;
}
@keyframes dropShine1 {
    0%,100%{
        top: 50px;
        left: 85px;
    }
    50%{
        top: 55px;
        left: 90px;
    }  
}
@keyframes dropShine2 {
    0%,100%{
        top: 90px;
        left: 110px;
    }
    25%{
        top: 95px;
        left: 115px;
    }  
}
.drop1 img{
    width: 50%;
    opacity: 0.8;
}
.drop2 img{
    width: 50%;
    opacity: 0.8;
}
.dropButton {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    box-shadow: inset 10px 10px 10px -1px rgb(45 170 253 / 16%), inset -7px -7px 10px -1px rgba(216, 234, 255, 0.9);
    opacity: 0.9;
    width: auto;
    color: rgb(255, 255, 255);
    padding: 13px 15px;
}
.dropButton i{
    font-size: 42px !important;
}
@media screen and (max-width: 980px) {
    .hobbyBodyContainer{
        flex-direction: column;
    }
    .hobbyDrawing{
        width: 100%;
        height: 50%;
    }
    .hobbyPhotography{
        width: 100%;
        height: 50%;
        justify-content: flex-start;
    }
    .drop1,.drop2{
        width:280px;
        height: 280px;
    }
    .drop1::before,.drop2::before{
        width: 25px;
        height: 25px;
    }
    .drop1::after,.drop2::after{
        width: 7px;
        height: 7px;
    }
    .drop1 img {
        margin-bottom: -22px;
    }
    .drop2 img {
        margin-bottom: -20px;
    }
}